/* Global Style */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Gradient background */
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    resize: none;
    font-size: 16px;
}

button {
    background-color: #0072ff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00c6ff;
}

.result {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.sentiment {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #282828;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.sentiment.positive {
    background-color: #28a745;
}

.sentiment.neutral {
    background-color: #ffc107;
}

.sentiment.negative {
    background-color: #dc3545;
}
